@font-face {
    font-family: 'DM_Sans';
    src: url(fonts/DM_Sans,Dancing_Script/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .nav{
     height: 10vh; 
     margin-top: 6vh;
     border: 1px inset rgb(165, 116, 239);
     background: linear-gradient(90deg, rgba(78,51,239,1) 0%, rgba(150,129,237,1) 0%, rgba(176,157,236,1) 23%, rgba(255,242,233,1) 65%, rgba(255,231,215,1) 83%, rgba(255,234,220,1) 89%,  rgba(255,231,215,1) 100%);
     width: 100vw;
     position: relative;
     display: flex;
     justify-content: space-between;
     font-family: 'DM_Sans';
     
  }
  .navContent{
     padding-left: 60vw;
     display: flex;
     align-items: center;
     gap: 4vw;
     font-size: 17px;
     text-decoration: none;
  }
  .navContent nav{
    font-family: 'DM_Sans';
    text-decoration: none;
    display:flex;
    gap:20px;
  }
  .navLink{
    text-decoration: none;
    color: inherit;
  }
  .logo{
     background: linear-gradient(144deg, rgba(78,51,239,1) 0%, rgba(150,129,237,1) 0%, rgba(176,157,236,1) 20%, rgba(255,242,233,1) 65%, rgba(255,231,215,1) 100%, rgba(255,234,220,1) 100%, rgba(255,216,190,1) 100%);
     box-shadow: 12px;
     margin-top: -4.5vh;
     margin-left: 3vw;
     width: 12.7vw;
      height:10vh;
      text-align: center;
      font-family: 'DM_Sans';
      border-radius: 15px;
      padding-top: 4.5vh;
      padding-bottom: 9vh;
      position: absolute;
      box-shadow: 4px 4px 4px rgb(129, 133, 134);
  }
  .main{
    width: 85vw;
    margin-top: 10vh;
    margin-left: 10vw;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-bottom: 10vh;
    height:110vh;
    border-radius: 25px;
    opacity: 0.7;
    background:linear-gradient(121deg, rgba(255,255,255,1) 0%, rgba(255,249,244,1) 8%, rgba(255,236,219,1) 15%, rgba(255,235,217,1) 18%, rgba(255,236,219,1) 21%, rgba(255,236,219,1) 22%, rgba(255,238,221,1) 26%, rgba(255,255,255,1) 42%, rgba(255,249,243,1) 52%, rgba(255,249,243,1) 55%, rgba(255,254,253,1) 66%, rgba(255,253,251,1) 73%, rgba(255,242,233,1) 77%, rgba(255,231,215,1) 83%, rgba(255,234,220,1) 89%, rgba(255,255,255,1) 100%);
 }
  .dropbtn{
     background-color: rgb(254, 237, 217);
     border: none;
     cursor: pointer;
   }
   
   /* The container <div> - needed to position the dropdown content */
   .dropdown {
     display: inline-block;
     position: relative;
     font-size:15px ;
   }
   
   /* Dropdown Content (Hidden by Default) */
   .dropdown-content{
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   /* Links inside the dropdown */
   .dropdown-content h4 {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }
   .dropdown-content h4:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #f9f9f9;
  }
  
  /* Tablets (portrait and landscape) */
@media only screen and (min-width: 500px) and (max-width: 900px) {
  .nav{
    height: 10vh;
    margin-top: 5vh;
     border: 1px inset rgb(165, 116, 239);
     background: linear-gradient(90deg, rgba(78,51,239,1) 0%, rgba(150,129,237,1) 0%, rgba(176,157,236,1) 23%, rgba(255,242,233,1) 65%, rgba(255,231,215,1) 83%, rgba(255,234,220,1) 89%,  rgba(255,231,215,1) 100%);
     width: 100vw;
     position: relative;
     display: flex;
     justify-content: space-between;
     font-family: 'DM_Sans';
  }
.logo{
  background: linear-gradient(144deg, rgba(78,51,239,1) 0%, rgba(150,129,237,1) 0%, rgba(176,157,236,1) 20%, rgba(255,242,233,1) 65%, rgba(255,231,215,1) 100%, rgba(255,234,220,1) 100%, rgba(255,216,190,1) 100%);
  box-shadow: 12px;
  margin-top: -4.5vh;
  margin-left: 3vw;
  width: 20vw;
   height:8vh;
   text-align: center;
   font-family: 'DM_Sans';
   font-size: 13px;
   border-radius: 15px;
   padding-top: 3.5vh;
   padding-bottom: 9vh;
   position: absolute;
   box-shadow: 4px 4px 4px rgb(129, 133, 134);
}
.navContent{
  padding-left: 35vw;
  display: flex;
  align-items: center;
  gap: 4vw;
  font-size: 17px;
  text-decoration: none;
}
}
